.tableOne{
	float: left;
	border-style: solid;
	border-width: medium;
	margin-left: 50px;
	line-height: 20px;
}
.tableTwo{
	float: left;
	border-style: solid;
	border-width: medium;
	margin-left: 50px
	
}

.bottom{
	margin-top: 250px;
	border-style: solid;
	border-width: medium;
	margin-left: 50px;
	padding: 5px;
	text-align: center;
	width: 200px;
}